<EditForm Model="@Movie" OnValidSubmit="@(e => OnSaveClick.InvokeAsync(Movie))">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="title">Title: </label>
        <InputText id="title" @bind-Value="Movie.Title" class="form-control" />
        <ValidationMessage For="@(() => Movie.Title)" />
    </div>

    <div class="form-group">
        <label for="description">Description: </label>
        <InputTextArea id="description" @bind-Value="Movie.Description" class="form-control" />
    </div>

    <div class="form-group">
        <label for="image">Image url: </label>
        <InputTextArea id="image" @bind-Value="Movie.Image" class="form-control" />
    </div>

    <div class="form-group">
       <label for="genre">Genre: </label>
       <InputSelect  id="genre" @bind-Value="Movie.GenreId" class="form-control">
           @foreach (var genre in Movie.Genres)
           {
                <option value="@genre.Value">@genre.Label</option>
           }
       </InputSelect> 
    </div>

    <div class="form-group">
       <label for="language">Language: </label>
       <InputSelect  id="language" @bind-Value="Movie.LanguageId" class="form-control">
           @foreach (var language in Movie.Languages)
           {
                <option value="@language.Value">@language.Label</option>
           }
       </InputSelect> 
    </div>

    <div class="form-group">
       <label for="director">Director: </label>
       <InputSelect  id="director" @bind-Value="Movie.DirectorId" class="form-control">
           @foreach (var director in Movie.Directors)
           {
                <option value="@director.Value">@director.Label</option>
           }
       </InputSelect> 
    </div>



    <button type="submit" class="btn btn-success">Save</button>
    <button type="button" class="btn btn-danger" @onclick="OnCancelClick">Cancel</button>
</EditForm>

@code {
    [Parameter]
    public MyMovieItem Movie { get; set; }
    [Parameter]
    public EventCallback<MyMovieItem> OnSaveClick { get; set; }
    [Parameter]
    public EventCallback OnCancelClick { get; set; }
}
